<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div th:each="mensagens : ${mensagem}">
        <p th:text="${mensagens}"></p>
    </div>

    <div>
        <form method="POST">
            <p>Pergunta: <input type="text" name="quest"></p>
            <p>Resposta: <input type="text" name="resposta"></p>
            <button type="submit">Cadastrar pergunta</button>
        </form>
    </div>

</body>
</html>